 @import '../../styles/breakpoints';

 .container {
   height: 75vh;
   width: 100%; 
 }

.slide-show {
  position: absolute;
  height: inherit;
  width: inherit; 
}

.slide-show-image {
  height: inherit;
  width: inherit;
}

@media (max-width: $breakpoint-md) {
  .container {
    height: 45vh;
  }
  // Nested query: styles for less tall phones
  @media (max-height: $breakpoint-sm) {
    .container { height: 35vh; }
  }
}