 @import '../../styles/breakpoints';

 .container {
   height: 70vh;
   width: 100%; 
 }

.slide-show {
  position: absolute;
  height: inherit;
  width: inherit; 
}

.slide-show-image {
  height: inherit;
  width: inherit;
}

@media (max-width: $breakpoint-md) {
  .container {
    height: 35vh;
  }
}