.card {
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-image {
  max-height: 50vh;
}

// Styling for inset date bubble
.date-bubble {
  align-items: center;
  border-radius: 50%;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  opacity: 0.72;
  right: 8%;
  text-align: center;
  top: 5%;
  z-index: 1;
}
