.card-image {
  max-height: 40vh;
}

// Styling for inset date bubble
.date-bubble {
  align-items: center;
  border-radius: 50%;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  opacity: 0.72;
  right: 12%;
  top: 8%;
  z-index: 1;
}
