@import '../breakpoints';

.card-grid-lg {
  display: grid;
  grid-template-columns: 1fr;
}

.card-grid-sm {
  @extend .card-grid-lg;
  grid-template-columns: repeat(2, 1fr);
}

/* Layout for small screens */
@media (min-width: $breakpoint-sm) {
  .card-grid-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* Layout for medium screens */
@media (min-width: $breakpoint-md) {
  .card-grid-lg {
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 1rem;
  }
  .card-grid-sm {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Layout for large screens */
@media (min-width: $breakpoint-lg) {
  .card-grid-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  * {
    font-size: 15px;
  }
}

/* Layout for extra large screens */
@media (min-width: $breakpoint-xl) {
  .card-grid-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(5, 1fr);
  }
}
