.card {
  transition: box-shadow 0.2s;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-image {
  max-height: 50vh;
}

// Styling for inset date bubble
.date-bubble {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 3.5rem;
  justify-content: center;
  opacity: 0.72;
  position: absolute;
  right: 8%;
  text-align: center;
  top: 5%;
  width: 3.5rem;
  z-index: 1;
}

