.form-grid {
  display: grid;
}

.form-grid-row {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: 0.25rem;
  justify-content: space-between;
}

.form-input-label-group {
  display: inline-block;
  width: 100%;

  * {
    line-height: 1.2rem;
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
  }
}

.lrg-text-field {
  height: 3rem;
}

.submit-btn {
  padding: 0.7rem 1rem;
  justify-self: center;
}