@import '../breakpoints';

/* Container - needed to position dropdown content */
.drop-down-container {
  padding-top: 1.1rem;
  padding-bottom: .25rem;
  display: inline;
  position: relative;
  color: inherit;
}

.drop-down-container:hover .drop-down-content {
  display: block;
  * {
    color: var(--medium);
  }
}

.drop-down-content {
  display: none;
  justify-content: center;
  list-style: none;
  margin-top: 1.9rem;

  opacity: 0.9;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.25rem;
  left: -50%;
  z-index: 2;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(var(--primary), var(--secondary) );

  li {
    opacity: 1;
    padding: 0.25rem;
    font-weight: 500;
  }
}
