@import '../breakpoints';

/* Container - needed to position dropdown content */
.drop-down-container {
  padding-top: .9rem;
  display: inline;
}

.drop-down-container:hover .drop-down-content {
  display: block;
}

.drop-down-content {
  display: none;
  justify-content: center;
  list-style: none;
  margin-top: 1.9rem;
  transition: opacity 5s;
  opacity: 0.9;
  padding: 0.5rem 1rem;

  top: .75rem;
  left: -40%;
  z-index: 2;

  li {
    opacity: 1;
    padding: 0.25rem;
    font-weight: 500;
  }
}
