@import '../breakpoints';
@import '../colours';
@import '../typography';

// === Elements ===
// -----------------

html {
  margin: 0rem 2rem;
  overflow-y: scroll;
}

button {
  padding: 1rem;
  border-radius: .6rem;
}

article {
  margin: 2rem 7rem;
}

form {
  display: block;
}