@import '../breakpoints';
 
 .menu-expand-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin: 1rem 0;
  padding: 0;

  circle {
    fill: var(--light);
    stroke: var(--primary-shade);
  }

  line {
    stroke: var(--primary);
  }
}


@media (max-width: $breakpoint-md) {
  .menu-expand-btn {
    display: flex;
    align-items: center;
  }
}