@import '../breakpoints';
 
.menu-expand-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;

  circle {
    fill: var(--clr-light);
    stroke: var(--clr-primary-shade);
  }

  line {
    stroke: var(--clr-primary);
  }
}


@media (max-width: $breakpoint-md) {
  .menu-expand-btn {
    display: flex;
    align-items: center;
  }
}