@import '../breakpoints';
 
.menu-expand-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  width: min-content;

  * {
    fill: hsl( var(--clr-light) );   
    stroke: hsl( var(--clr-primary) );
  }
}

@media (max-width: $breakpoint-md) {
  .menu-expand-btn {
    display: flex;
    align-items: center;
  }
}