@import '../breakpoints';


.navbar-left-side {   
  flex: 25%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navbar-right-side {
  @extend .navbar-left-side;
  flex: 75%;

}

.navbar-right-side:hover, .navbar-right-side:focus {
  color: hsl( var(--clr-medium) );
  a:hover, a:focus {
    color: hsl( var(--clr-dark) );
    text-shadow: hsl( var(--clr-primary-highlight) ) 0px 1px 4px;
  }
}

/* Styles for popup menu on smaller screens */
@media screen and (max-width: $breakpoint-md) {
  .navbar-right-side {
    align-items: flex-end;
    flex-direction: column;
    height: auto;
    justify-content: right;
    position: absolute;
    right: -100vw;
    top: 7.5rem;
    transition: right 0.25s;
  }

  .popup-menu {
    animation: 0.33s popUpMenuSlideIn forwards;
    background-color: hsl( var(--clr-light) );
    opacity: 0.97;
    padding: 0 1rem 1.5rem 1.5rem;
    z-index: 2;
  }
}


/* ============================= *
 *          Animations           *
 * ============================= */

@keyframes popUpMenuSlideIn {
  from {
    right: -5rem;
  }
  to {
    right: 1rem;
  }
}
