@import '../breakpoints.scss';

.navbar {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.navbar-left-side {   
  align-items: center;
  display: flex;
  flex: 25%;
  justify-content: space-between;
}

.highlight-link {
  color: var(--primary);
  border-color: var(--primary);
  padding: 0.5rem 1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 1rem;
}

.highlight-link:hover {
  transition: border-color 2s;
  border-color: var(--primary-shade);
}

.site-brand {
  align-self: flex-end;
  width: 128px;
}

.navbar-right-side {
  @extend .navbar-left-side;
  flex: 75%;

  a, div {
    transition: color 0.25s;
    background: transparent;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
  }
}

.navbar-right-side:hover {
  color: var(--medium);
  a:hover {
    color: var(--dark);
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .navbar-right-side {
    align-items: flex-end;
    background-color: var(--light);
    display: none;
    flex-direction: column;
    height: auto;
    justify-content: right;
    position: absolute;
    right: -500px;
    top: 5rem;
    transition: right 0.25s;
  }
  .highlight-link {
    color: black;
    border: none;
    padding: unset;
  }
  .popup-menu {
    animation: 0.33s popUpMenuSlideIn forwards;
    display: flex;
    opacity: 0.97;
    padding: 0 1rem 1.5rem 1.5rem;
    z-index: 2;
    a {
      opacity: 1;
    }
  }

  @keyframes popUpMenuSlideIn {
    from {
      right: -5rem;
    }
    to {
      right: 2.5rem;
    }
  }
}