/* TODO
 * This starts to look wonky on larger screens due to page margins being handled
 * in rem and the img width being set using vh. Waiting on higher-res images
 * before proceeding.
 */

@import '../breakpoints';


.slide-show-image {
  height: 70vh;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .slide-show-container, .slide-show-image {
    height: 35vh;
  }
}