/* TODO
 * This starts to look wonky on larger screens due to page margins being handled
 * in rem and the img width being set using vh. Waiting on higher-res images
 * before proceeding.
 */

.slide-show-container {
  width: 100%;
  align-items: center;
  display: flex;
}

.slide-show-image {
  height: 75vh;
  width: 90vw;
  position: absolute;
}
