@import '../breakpoints';

.banner-image {
  z-index: -1;
  height: 10rem;
  border-radius: 0.5rem;
}

.banner-text {
  top: 1rem;
  left: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.banner-subtitle {
  text-align: right;
}

@media (max-width: $breakpoint-md) {
  .banner-text {
    padding: var(--spacing-4);
    margin: var(--spacing-1);
    top: 12.5%;
    height: auto;
  }
}