@import '../../styles/breakpoints';

.card {
  width: 100%;
}
.card-image {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.15s;
  border: 1px solid hsl(var(--clr-primary));
}

.tooltip {
  position: absolute;
  border-radius: 0.2rem;
  left: 9.5%;
  opacity: 0;
  transition: opacity 0.15s;
  top: 7.5%;
  width: 80%;
  z-index: 1;

  p {
    opacity: 1;
    margin: var(--spacing-2);
    font-size: var(--fs-200);
  }
}

.subtitle {
  font-size: var(--fs-300);
  color: hsl(var(--clr-primary));
  display: none;
}

// Hover animations
.card:hover, .card:focus .card-image {
  opacity: 0.9;
}

.card:hover, .card:focus .tooltip {
  opacity: 0.8;
}


@media (min-width: $breakpoint-md) {
  .tooltip {
    p {
      font-size: var(--fs-400);
    }
  }
  .subtitle {
    display: block;
  }
}

/* Disable hover effects on mobile & display title under card */
@media (hover: none) and (pointer: none), (pointer: course) {
  .tooltip {
      width: auto;
      position: unset;
      display: block;
      opacity: 1;
    

    p:first-child {
      margin: -.25rem;
      width: auto;
      color: hsl(var(--clr-faded));
      font-size: var(--fs-300);
    }

    :not(p:first-child) {
      display: none;
    }
  }
}
