@import '../styles/breakpoints';

.page {
  margin-top: 1rem;
}

.title {
  font-size: var(--fs-800);
  display: inline-block;
  border-bottom: solid hsl( var(--clr-primary) ) .15rem;
  height: min-content;
  width: fit-content;
  margin-bottom: .6rem;
}

.heading {
  font-size: var(--fs-700);
  text-decoration: underline;
  text-decoration-color: hsl( var(--clr-primary) );
  text-decoration-thickness: .1rem;
  text-underline-offset: .30rem;
  margin-bottom: .25rem;
}

.top-box {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 8fr 5fr;
  grid-column-gap: 1.25rem;
}

.poster {
  max-height: 100%;
}

.event-info {
  display: flex;
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  flex-direction: column;
  justify-content: space-between;
  > * {
    width: fit-content;
  }
}

.date-time {
  time {
    display: block;
  }
}

.event-description {
  margin: 2.4rem auto;
  letter-spacing: .05rem;
}

.programme {
  border: 2px solid hsl( var(--clr-primary) );
  font-size: var(--fs-300);
  padding: 2rem;
  background-color: hsl( var(--clr-light-shade) );
}

.programme-text {
  ul {
    list-style-type: none;
    background-color: transparent;
    text-align: center;
  }
}

.venue-details {
  margin: 2rem auto;
}

// Style overloads for small screens
@media (max-width: $breakpoint-sm) {
  .top-box {
    margin-top: 0;
    grid-template-columns: 1fr;
  }
  .title {
    font-size: var(--fs-700);
  }
  .poster {
    display: none;
  }

  .event-info {
    font-size: var(--fs-400);
    >:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .event-description {
    letter-spacing: unset;
  }

  .programme {
    padding: .6rem;
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}