@import '../../styles/breakpoints';

.card-grid {
  margin-bottom: var(--spacing-4);
}

.card-grid-lg {
  @extend .card-grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.card-grid-md {
  @extend .card-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.card-grid-sm {
  @extend .card-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Layout for small screens */
@media (min-width: $breakpoint-sm) {
  .card-grid-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $breakpoint-md) {
  .card-grid-md {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Layout for medium screens */
@media (min-width: $breakpoint-lg) {

  .card-grid-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Layout for large screens */
@media (min-width: $breakpoint-xl) {
  .card-grid-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-grid-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(5, 1fr);
  }
}
