@import '../../styles/breakpoints';

.grid-row-container {
  grid-auto-flow: column;
}

.container-one-col {
  @extend .grid-row-container;
  grid-template-columns: 1fr;
}

.container-two-col {
  @extend .grid-row-container;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  justify-self: center;
}

.left {
  @extend .grid-item;
  grid-column: 1;
}

.right {
  @extend .grid-item;
  grid-column: 2;
}

@media (max-width: $breakpoint-md) {
  .grid-row-container { display: block; }
}