:root {
  --primary: #31708E;
  --primary-shade: #5085A5;
  --primary-pale: #8FC1E3;
  --primary-highlight: #c3ddee;
  --secondary: #e69317;
  --dark: #140a0a;
  --medium: #92949c;
  --light: #F7F9FB;
  --light-shade: #eaf2f7;
}

* {
  color: var(--dark);
}

*:focus {
  outline-offset: 0.1rem;
  outline-width: 1rem;
  outline-color: #c3ddee;
}

html {
  background: radial-gradient(var(--light-shade), var(--light));
  height: 100vh;
  width: 100vw;
}

ul, input {
  background-color: var(--light);
}

p {
  background-color: transparent;
}

button {
  border-color: var(--primary);
  border-width: 0.2rem;
}

input, textarea {
  background-color: var(--light);
  transition: background-color 0.25s;
  font-weight: 300;
}
input:focus, textarea:focus {
  background-color: var(--light-shade);
  border-color: var(--primary);
}