:root {
  --primary: #3b46b8;
  --primary-shade: #22286e;
  --dark: #140a0a;
  --medium: #92949c;
  --light: rgb(255, 255, 255);
}

* {
  color: var(--dark);
}

a, ul, input, aside {
  background-color: var(--light);
}

button {
  background-color: var(--primary);
}


input[type=submit] {
  border-color: var(--primary);
  border-width: 0.5rem;
}
