@import './breakpoints';

.content-with-aside > * {
  display: inline;
  margin: 0 1rem;
  width: 55%;
}

.content-with-aside > aside {
  width: 30%;
  display: inline;
}

@media (max-width: $breakpoint-sm) {
  .content-with-aside {
    display: block;
    margin-top: 1rem;
  }
}