@import './breakpoints.scss';

.content-with-aside-left {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.content-with-aside-left > * {
  display: inline;
  margin: 0 1rem;
  width: 55%;
}

.content-with-aside-left > aside {
  width: 30%;
  display: inline;
}

@media (max-width: $breakpoint-sm) {
  .content-with-aside-left {
    display: block;
    margin-top: 1rem;
  }
}