/* ------------------------------------------------- */
/*  I M P O R T S                                    */
/* ------------------------------------------------- */

@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@200;300;400;500&display=swap');


/* ------------------------------------------------- */
/*  C U S T O M   P R O P E R T I E S                */
/* ------------------------------------------------- */

:root {
  /* Colours */
  --clr-primary: 199 49% 37%;
  --clr-primary-shade: 203 35% 48%;
  --clr-primary-pale: 204 60% 73%;
  --clr-primary-highlight: 204 56% 85%;
  --clr-secondary: 36 82% 50%;
  --clr-dark: 30 100% 4%;
  --clr-medium: 228 5% 59%;
  --clr-light: 210 33% 98%;
  --clr-light-shade: 203 45% 94%;

  /* Font Families */
  --ff-serif: 'EB Garamond', serif;
  --ff-sans: 'Josefin Sans', sans-serif;

  /* Font sizes */
  --fs-900: 3.5rem;
  --fs-800: 3.0rem;
  --fs-700: 2.5rem;
  --fs-600: 1.8rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font weights */
  --fw-xl: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;
  
  --spacing-0: 0;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
}

/* ------------------------------------------------- */
/*  R E S P O N S I V E   D E S I G N                */
/* ------------------------------------------------- */

/* Responsive Font Sizes */
:root { font-size: 14px; }

@media (min-width: $breakpoint-sm) {
  :root { font-size: 15px; }
}

@media (min-width: $breakpoint-md) {
  :root { font-size: 15px; }
}

@media (min-width: $breakpoint-lg) {
  :root { font-size: 16px; }
}

@media (min-width: $breakpoint-xl) {
  :root { font-size: 18px; }
}

@media (min-width: $breakpoint-xxl) {
  * { font-size: 20px; }
}


/* ------------------------------------------------- */
/*  R E S E T                                        */
/* ------------------------------------------------- */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body, h1, h2, h3, h4, h5, p {
  margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Make scrollbar visible at all times */
html {
  overflow-x: hidden;
}

/* Making sure headings aren't bold */
h1, h2, h3, h4, h5, h6, sub {
  font-weight: 400;
  font-family: var(--ff-serif);
}

/* Body */
body {
  overflow-x: hidden;
  position: relative;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 300;
  color:hsl(var(--clr-dark));
  background-color: radial-gradient(var(--light-shade), var(--light));
  line-height: 1.5;
  min-height: 100vh;
}

/* Focus outline */
*:focus {
  outline-offset: 0.1rem;
  outline-width: 1rem;
  outline-color: hsl(var(--clr-primary));
}

/* Make form elements simpler to work with */
input,
button,
textarea,
select {
  font: inherit; // form elements are the only ones that don't inherit font
  width: 100%;

}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

textarea {
  height: 8rem;
}

/* disable animations for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------- */
/*  U T I L I T Y   C L A S S E S                    */
/* ------------------------------------------------- */

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Makes an element invisible to sighted users, but visiable to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colours */
.bg-light { background-color: hsl( var(--clr-light) ); }
.bg-light-opaque { background-color: hsl( var(--clr-light) / 0.8); }
.bg-light-shade { background-color: hsl( var(--clr-light-shade)); }
.bg-dark { background-color: hsl( var(--clr-dark) ); }

.text-primary { color: hsl( var(--clr-primary) ); }
.text-faded { color: hsl( var(--clr-medium)); }

/* Typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans { font-family: var(--ff-sans); }

.uppercase { text-transform: uppercase;}

.letter-spacing-1 { letter-spacing: 4.5px; }
.letter-spacing-2 { letter-spacing: 2.6px; }
.letter-spacing-3 { letter-spacing: 2px; }

/* Font Size */
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* Font Weight */
.fw-xl { font-weight: var(--fw-xl); }
.fw-light { font-weight: var(--fw-light); }
.fw-reg { font-weight: var(--fw-normal); }
.fw-med { font-weight: 500; }
.fw-bold { font-weight: 600; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* Display */
.d-block { display: block; }
.d-flex {
  display: flex;
  gap: var(--gap, 1em);
  justify-content: space-between;
}
.d-grid { display: grid; }

.flex-wrap { flex-wrap: wrap; }

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Visibility */
.hide-on-sm {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

/* Position */
.position-ab { position: absolute; }
.position-rel { position: relative; }
.align-items-center { align-items: center; }

/* Sizing */
.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-100 { width: 100%; }
.h-50 { height: 50%; }
.h-25 { height: 25%; }

/* Spacing - Margins */
.m-auto { margin: auto; }
.m-0 { margin: var(--spacing-0); }
.m-1 { margin: var(--spacing-1); }
.m-2 { margin: var(--spacing-2); }
.m-3 { margin: var(--spacing-3); }
.m-4 { margin: var(--spacing-4); }
.m-5 { margin: var(--spacing-5); }

.mt-0 { margin-top: var(--spacing-0); }
.mt-1 { margin-top: var(--spacing-1); }
.mt-2 { margin-top: var(--spacing-2); }
.mt-3 { margin-top: var(--spacing-3); }
.mt-4 { margin-top: var(--spacing-4); }
.mt-5 { margin-top: var(--spacing-5); }

.mb-0 { margin-bottom: var(--spacing-0); }
.mb-1 { margin-bottom: var(--spacing-1); }
.mb-2 { margin-bottom: var(--spacing-2); }
.mb-3 { margin-bottom: var(--spacing-3); }
.mb-4 { margin-bottom: var(--spacing-4); }
.mb-5 { margin-bottom: var(--spacing-5); }

.mx-0 { margin-left: var(--spacing-0); margin-right: var(--spacing-0); }
.mx-1 { margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
.mx-2 { margin-left: var(--spacing-2); margin-right: var(--spacing-2); }
.mx-3 { margin-left: var(--spacing-3); margin-right: var(--spacing-3); }
.mx-4 { margin-left: var(--spacing-4); margin-right: var(--spacing-4); }
.mx-5 { margin-left: var(--spacing-5); margin-right: var(--spacing-5); }

.my-0 { margin-top: var(--spacing-0); margin-bottom: var(--spacing-0); }
.my-1 { margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }
.my-2 { margin-top: var(--spacing-2); margin-bottom: var(--spacing-2); }
.my-3 { margin-top: var(--spacing-3); margin-bottom: var(--spacing-3); }
.my-4 { margin-top: var(--spacing-4); margin-bottom: var(--spacing-4); }
.my-5 { margin-top: var(--spacing-5); margin-bottom: var(--spacing-5); }

/* Spacing - Padding */
.p-auto { margin: auto; }
.p-0 { padding: var(--spacing-0); }
.p-1 { padding: var(--spacing-1); }
.p-2 { padding: var(--spacing-2); }
.p-3 { padding: var(--spacing-3); }
.p-4 { padding: var(--spacing-4); }
.p-5 { padding: var(--spacing-5); }

.pt-0 { padding-top: var(--spacing-0); }
.pt-1 { padding-top: var(--spacing-1); }
.pt-2 { padding-top: var(--spacing-2); }
.pt-3 { padding-top: var(--spacing-3); }
.pt-4 { padding-top: var(--spacing-4); }
.pt-5 { padding-top: var(--spacing-5); }

.pb-0 { padding-bottom: var(--spacing-0); }
.pb-1 { padding-bottom: var(--spacing-1); }
.pb-2 { padding-bottom: var(--spacing-2); }
.pb-3 { padding-bottom: var(--spacing-3); }
.pb-4 { padding-bottom: var(--spacing-4); }
.pb-5 { padding-bottom: var(--spacing-5); }

.px-0 { padding-left: var(--spacing-0); padding-right: var(--spacing-0); }
.px-1 { padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
.px-2 { padding-left: var(--spacing-2); padding-right: var(--spacing-2); }
.px-3 { padding-left: var(--spacing-3); padding-right: var(--spacing-3); }
.px-4 { padding-left: var(--spacing-4); padding-right: var(--spacing-4); }
.px-5 { padding-left: var(--spacing-5); padding-right: var(--spacing-5); }

.py-0 { padding-top: var(--spacing-0); padding-bottom: var(--spacing-0); }
.py-1 { padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }
.py-2 { padding-top: var(--spacing-2); padding-bottom: var(--spacing-2); }
.py-3 { padding-top: var(--spacing-3); padding-bottom: var(--spacing-3); }
.py-4 { padding-top: var(--spacing-4); padding-bottom: var(--spacing-4); }
.py-5 { padding-top: var(--spacing-5); padding-bottom: var(--spacing-5); }

.highlight-border {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(hsl( var(--clr-primary) ), hsl(var(--clr-secondary)));
}

.border-primary {
  border: 2px solid hsl(var(--clr-primary));
  border-radius: 0.5rem;
}

.hover-shadow {
  transition: box-shadow 0.3s;
  &:hover { box-shadow: 0 0 11px hsl( var(--clr-dark) / 0.5); }
}

/* ------------------------------------------------- */
/*  A N I M A T I O N S                              */
/* ------------------------------------------------- */

@mixin link-underline-anim-mixin() {
  background: linear-gradient(90deg, hsl(var(--clr-primary)), hsl( var(--clr-primary-highlight) ));
  background-size: 0% 2px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: visible;
  &:hover,
  &:focus {
    transition: 0.8s;
    background: linear-gradient(90deg, hsl( var(--clr-primary) ), hsl( var(--clr-primary-highlight) ));
    background-size: 110% 2px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    color: hsl(var(--clr-dark));
  }
}

/* ------------------------------------------------- */
/*  C O M P O N E N T   C L A S S E S                */
/* ------------------------------------------------- */

.call-to-action {
  color: hsl( var(--clr-primary) );
  background-color: transparent;
  border-color: hsl( var(--clr-primary-shade) );
  padding: 0.5rem 1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 1rem;

  &:hover, &:focus {
    transition: border-color 0.25s;
    transition: color 0.25;
    background-color: hsl( var(--clr-light-shade) );
    border-color: hsl( var(--clr-primary-pale) );
    color: hsl( var(--clr-dark) );
  }
}

/* Layout */
.center-content {
  max-width: var(--max-width, 48rem);
  display: table;
  margin: auto;
}

/* Forms */
.form {
  input, textarea {
    border-width: 0.13rem;
    border-style: ridge;
    border-color: hsl( var(--clr-primary) );
    background-color: hsl( var(--clr-light) );
    transition: background-color 0.25s;
  }
  input:focus, textarea:focus {
    background-color: hsl( var(--clr-light-shade) );
    border-color: hsl( var(--clr-primary) );
  }
}

.form-row {
  padding: var(--spacing-1);
  gap: 2rem;
  width: 100%;
}


/* hyperlinks & navlinks */
.link {
  @include link-underline-anim-mixin();
  transition: color 0.25s, background-size 0.4s;
  color: hsl( var(--clr-primary-shade) );
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-item {
  transition: color 0.25s, background-size 0.4s;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.nav-link {
  @extend .nav-item;
  @include link-underline-anim-mixin(); 
}

.btn-list {
  align-self: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  display: flex;
  width: 100%;
  justify-items: space-around;
  li {
    display: inline;
  }
}

/* Typography */
.subtitle {
  letter-spacing: var(--spacing-1);
  text-transform: uppercase;
  font-size: var(--fs-200)
}


/* for styling richtext returned from Prismic queries */
.rich-text {
  p {
    margin: var(--spacing-3) 0;
  }
  * a {
    @extend .link;
    font-size: inherit;
    text-transform: none;
  }
}


