/* ------------------------------------------------- */
/*  I M P O R T S                                    */
/* ------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700&display=swap');

/* ------------------------------------------------- */
/*  C U S T O M   P R O P E R T I E S                */
/* ------------------------------------------------- */

:root {
  /* Colours */
  --clr-primary: 199 49% 37%;
  --clr-primary-shade: 203 35% 48%;
  --clr-primary-pale: 204 60% 73%;
  --clr-primary-highlight: 204 56% 85%;
  --clr-secondary: 36 82% 50%;
  --clr-dark: 30 100% 4%;
  --clr-medium: 228 5% 59%;
  --clr-light: 210 33% 98%;
  --clr-light-shade: 203 45% 94%;

  --spacing-0: 0;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
}

/* ------------------------------------------------- */
/*  R E S P O N S I V E   D E S I G N                */
/* ------------------------------------------------- */

/* Responsive Font Sizes */
:root { font-size: 15px; }

@media (min-width: $breakpoint-lg) {
  :root { font-size: 16px; }
}

@media (min-width: $breakpoint-xl) {
  :root { font-size: 17px; }
}

@media (min-width: $breakpoint-xxl) {
  :root { font-size: 19px; }
}

/* Remove left margin on uls for small screens */
@media (max-width: $breakpoint-md) {
  ul { padding-left: 1rem; }
}

/* ------------------------------------------------- */
/*  R E S E T                                        */
/* ------------------------------------------------- */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body, h1, h2, h3, h4, h5, p, footer {
  margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Make scrollbar visible at all times */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}


address {
  font-style: normal;
}

/* Body */
body {
  overflow-x: hidden;
  position: relative;
  font-weight: 300;
  color:hsl(var(--clr-dark));
  background-color: hsl( var(--clr-light) );
  line-height: 1.5;
  min-height: 100vh;
}

/* Make form elements simpler to work with */
button {
  font: inherit;
}


input,
textarea,
select {
  font: inherit; // form elements are the only ones that don't inherit font
  width: 100%;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

textarea {
  height: 8rem;
}

/* disable animations for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------- */
/*  U T I L I T Y   C L A S S E S                    */
/* ------------------------------------------------- */

.container {
  padding: 0rem 2rem;
  margin: auto auto 4rem; /* Space for footer */
  max-width: 80rem;
}

/* Makes an element invisible to sighted users, but visiable to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.letter-spacing-1 { letter-spacing: 4.5px; }
.letter-spacing-2 { letter-spacing: 2.6px; }
.letter-spacing-3 { letter-spacing: 2px; }

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Visibility */
.hide-on-sm {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.w-fit { width: fit-content }

.highlight-border {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(hsl( var(--clr-primary) ), hsl(var(--clr-secondary)));
}

.border-primary {
  border: 1px solid hsl(var(--clr-primary));
  border-radius: 0.5rem;
}

.border-faded {
  border: 1px solid hsl( var(--clr-dark) / 0.2);
  border-radius: .25rem;
}

.box-shadow {
  box-shadow: 0 0 10px hsl( var(--clr-dark) / 0.2);
}

.hover-shadow {
  transition: box-shadow 0.3s;
  &:hover, &:focus { box-shadow: 0 0 13px hsl( var(--clr-dark) / 0.6); }
}

/* ------------------------------------------------- */
/*  A N I M A T I O N S                              */
/* ------------------------------------------------- */

@mixin link-underline-anim-mixin() {
  background: linear-gradient(90deg, hsl(var(--clr-primary)), hsl( var(--clr-primary-highlight) ));
  background-size: 0% 2px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: visible;
  &:hover,
  &:focus {
    transition: 0.8s;
    background: linear-gradient(90deg, hsl( var(--clr-primary) ), hsl( var(--clr-primary-highlight) ));
    background-size: 110% 2px;
    background-position: 100% 100%;
    background-repeat: no-repeat;

  }
}

/* ------------------------------------------------- */
/*  C O M P O N E N T   C L A S S E S                */
/* ------------------------------------------------- */

.call-to-action {
  color: hsl( var(--clr-primary) );
  background-color: hsl( var(--clr-light)) ;
  border-color: hsl( var(--clr-primary-shade) );
  padding: .5rem 1.25rem .25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 1rem;

  &:hover, &:focus {
    transition: border-color 0.25s;
    transition: color 0.25;
    background-color: hsl( var(--clr-light-shade) );
    border-color: hsl( var(--clr-primary-pale) );
    color: hsl( var(--clr-dark) );
  }
}


/* Layout */
.center-content {
  max-width: var(--max-width, 48rem);
  display: table;
  margin: auto;
}

/* Forms */
.form {
  padding: var(--spacing-1);

  label {
    width: 100%;
  }
  input, textarea {
    border-width: 0.13rem;
    border-style: ridge;
    border-color: hsl( var(--clr-primary) );
    background-color: hsl( var(--clr-light) );
    transition: background-color 0.25s;
    padding: var(--spacing-2);
    
  }
  input:focus, textarea:focus {
    background-color: hsl( var(--clr-light-shade) );
    border-color: hsl( var(--clr-primary) );
  }
}

.form-row {
  display: flex;
  padding: var(--spacing-1);
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

@media (max-width: $breakpoint-sm) {
  .form-row {
    flex-direction: column;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-1);
  }
}

/* hyperlinks & navlinks */
.link {
  @include link-underline-anim-mixin();
  transition: color 0.25s, background-size 0.4s;
  color: hsl( var(--clr-primary-shade) );
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.sub-heading {
  height: fit-content;
  padding: var(--spacing-4);
}
.nav-item {
  transition: color 0.25s, background-size 0.4s;
  font-weight: 300;
  margin-top: .65rem;
}

.nav-link {
  @extend .nav-item;
  @include link-underline-anim-mixin(); 
}

/* Typography */
.subtitle {
  letter-spacing: var(--spacing-1);
  text-transform: uppercase;
}

.underline {
  border-bottom: solid hsl(var( --clr-primary )) .125rem;
  width: fit-content;
}

.title {
  @extend .underline;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.address {
  background-color: hsl( var(--clr-light-shade));
  padding: var(--spacing-3) var(--spacing-4);
  margin: var(--spacing-3) 0;
  width: fit-content;
  > * {
    margin: 0;
  }
}

/* for styling richtext returned from Prismic queries */
.rich-text {
  * p {
    margin: var(--spacing-3) 0;
  }
  * p:last-child {
    margin: 0;
  }
  * a {
    @extend .link;
    font-size: inherit;
    text-transform: none;
  }
}


