@import 'breakpoints';
@import 'colours';
@import 'typography';

// === Elements ===
// -----------------

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  padding: 1rem;
}

button {
  padding: 1rem;
  border-radius: .6rem;
}

ul {
  background-color: transparent;
}
article {
  padding: 2rem 7rem;
}

form {
  display: block;
}

input, textarea {
  border-width: 0.13rem;
  border-style: ridge;
  border-color: var(--primary);
}


/* ================================ */
/* Component Classes                */
/* -------------------------------- */

.call-to-action {
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primary-shade);
  padding: 0.5rem 1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 1rem;
}

.call-to-action:hover {
  transition: border-color 0.25s;
  transition: color 0.25;
  background-color: var(--light-shade);
  border-color: var(--primary-pale);
  color: var(--dark);
}

@mixin link-underline-anim-mixin() {
  background: linear-gradient(90deg, var(--primary), var(--primary-highlight));
  background-size: 0% 4px;
  background-position: 100% .8rem;
  background-repeat: no-repeat;
  overflow: visible;
  &:hover {
    transition: 0.8s;
    background: linear-gradient(90deg, var(--primary), var(--primary-highlight));
    background-size: 100% 2px;
    background-position: 100% .8rem;
    background-repeat: no-repeat;
    color: var(--dark);
  }
}

.link {
  color: var(--primary-shade);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
  @include link-underline-anim-mixin();
}

.nav-item {
  transition: color 0.25s, background-size 0.4s;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.nav-dropdown {
  @extend .nav-item;
  a { @extend .nav-link; }
}

.nav-link {
  @extend .nav-item;
  @include link-underline-anim-mixin(); 
}


.rich-text {
  a {
    @extend .link; 
  }
}