@import '../../styles/breakpoints';

.logo {
  overflow: visible;
  width: 10rem;
  height: 5rem;
  
  path {
    transition: scale .25s ease-in-out, fill .25s ease-in-out, stroke-width .25s ease-in-out;
    stroke:hsl( var(--clr-primary) );
    scale: 1;
    fill: hsl( var(--clr-primary) );
    stroke-width: 0;
  }
}

.logo:hover {
  path{
    scale: 0.995;
    fill: hsl( var(--clr-primary-pale) );
    stroke-width: .5rem;
  }
}

@media (max-width: $breakpoint-md) {
  .logo {
    width: 8rem;
    height: 4rem;
  }
}