@import '../../styles/breakpoints';

.card {
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.card-image {
  height: 40vh;
  width: 100%;
}

// Styling for inset date bubble
.date-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-primary));
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  opacity: 0.72;
  right: 6%;
  top: 3%;
  z-index: 1;
}

@media (max-width: $breakpoint-md) {
  .card-image { height: 30vh; }
}