@import '../styles/breakpoints';

.home-page-container {
  height: 72vh;
  z-index: 0;
}

.title {
  font-size: var(--fs-800);
  font-weight: var(--fw-medium);
}

.home-page-bio {
  position: absolute;
  text-align: right;
  width: 24rem;
  opacity: 0.95;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  border-radius: 0.15rem;
}

.home-page-next-event {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.15rem;
  opacity: 0.9;
  z-index: 1;
}

@media (max-width: $breakpoint-md) {

  .home-page-container {
    height: unset;
  }
  .home-page-bio, .home-page-next-event {
    position: unset;
    width: unset;
  }

  .home-page-bio {
    border: none;
    box-shadow: none;
    padding-top: var(--spacing-2);
    font-size: var(--fs-400);
  }

  .home-page-next-event {
    padding: var(--spacing-4) var(--spacing-4);
    margin: var(--spacing-3) 15% auto;
    display: flex;
    position: unset;
    justify-content: center;
    width: 70%;
    border-radius: 0.15rem;
  }
  
  // Nested query: styles for less tall phones
  @media (max-height: $breakpoint-sm) {
    .home-page-bio { 
      font-size: var(--fs-300); 
    }
    .title { 
      font-size: var(--fs-700);
    }
    .home-page-next-event {
      font-size: var(--fs-300);
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

}