@import '../styles/breakpoints';

.home-page-container {
  height: 72vh;
}

.home-page-bio {
  position: absolute;
  text-align: right;
  width: 24rem;
  opacity: 0.9;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  border-radius: 0.15rem;
}

.home-page-next-event {
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.15rem;
  opacity: 0.9;
}

@media (max-width: $breakpoint-md) {

  .home-page-container {
    height: unset;
  }
  .home-page-bio, .home-page-next-event {
    position: unset;
    margin-top: var(--spacing-3);
    width: unset;
  }

  .home-page-bio {
    border: none;
    box-shadow: none;
  }
  .home-page-next-event {
    padding: var(--spacing-3) var(--spacing-4);
    display: block;
    bottom: unset;
    width: fit-content;
    border-radius: 0.15rem;
  }
}