@import '../../styles/breakpoints';

.skip-main {
  left: -999px;
  position: absolute;
  top: 5rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.skip-main:focus, .skip-main:active {
  left: auto;
  padding: 1rem;
  font-size: var(--fs-500);
  background-color: hsl( var(--clr-light) / 0.95 );
  border: solid hsl( var(--clr-primary) ) .1rem;
  width: auto;
  height: auto;
  z-index: 999;
  text-decoration: underline;
  text-decoration-color: hsl( var(--clr-primary) );
  text-decoration-thickness: .1rem;
  text-underline-offset: .5rem;

}

.navbar {
  display: flex;
}

.navbar-left-side {   
  display: flex;
  flex: 25%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar-right-side {
  @extend .navbar-left-side;
  flex: 75%;

}

.navbar-right-side:hover, .navbar-right-side:focus {
  color: hsl( var(--clr-medium) );
  a:hover, a:focus {
    color: hsl( var(--clr-dark) );
    text-shadow: hsl( var(--clr-primary-highlight) ) 0px 1px 4px;
  }
}

/* Styles for popup menu on smaller screens */
@media screen and (max-width: $breakpoint-md) {
  .navbar-right-side {
    align-items: flex-end;
    flex-direction: column;
    height: auto;
    justify-content: right;
    position: absolute;
    right: -100vw;
    top: 6.5rem;
    transition: right 0.25s;
  }

  .popup-menu {
    animation: 0.33s popUpMenuSlideIn forwards;
    background-color: hsl( var(--clr-light) );
    opacity: 0.97;
    padding: 1rem 2rem;
    z-index: 2;
    overflow: visible;
  }
}


/* ============================= *
 *          Animations           *
 * ============================= */

@keyframes popUpMenuSlideIn {
  from {
    right: -5rem;
  }
  to {
    right: 1rem;
  }
}
