.card-grid-lg {
  display: grid;
  grid-template-columns: 1fr;
}

.card-grid-sm {
  @extend .card-grid-lg;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .card-grid-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid-sm {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width: 960px) {
  .card-grid-lg {
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 1rem;
  }
  .card-grid-sm {
    grid-template-columns: repeat(5, 1fr);
  }
}