@import '../styles/breakpoints.scss';

/* Container - needed to position dropdown content */
.drop-down-container {
  display: inline;
  position: relative;
}

.drop-down-container:hover .drop-down-content {
  display: block;
}

.drop-down-content {
  background-color: white;
  display: none;
  justify-content: center;
  list-style: none;
  margin-top: 0.75rem;
  margin-left: -1.25rem;
  opacity: 0.9;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  /* Background opacity is 0.9, but links are opacity 1 */
  li {
    opacity: 1;
    padding: 0.25rem;
    font-weight: 500;
  }
}
