.event-card {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0 1rem 2rem 1rem;

  time {
    display: block;
    font-weight: 300;
  }
}

.card-image {
  max-width: 100%;
  max-height: 75vw;
}

.card-title {
  margin-top: 0.6rem;
  font-weight: 500;
  font-size: 1.6rem;
}

