.menu-expand-btn {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  display: none;
  margin: 1rem 0 0 0;
  padding: 0;
}


@media (max-width: 600px) {
  .menu-expand-btn {
    display: flex;
  }
}