.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  // for styling nested RichText & UI
  p, button {
    margin-top: 1rem;
  }
  :last-child {
    margin-bottom: 1rem;
  }
}

.section-title {
  align-self: center;
  text-align: center;
  width: min-content;
  max-height: max-content;  font-size: var(--fs-700);
  border-bottom: solid hsl(var( --clr-primary )) .125rem;
  width: fit-content;
}
