@import '../../styles/breakpoints';

.footer-container {
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: hsl(var(--clr-light)/0.8);
  border-top: 2px solid hsl(var(--clr-primary));
  justify-content: center;
  transition: bottom 0.5s;
}

.copyright {
  position: absolute;
  bottom: .7rem;
  right: .7rem;
  font-size: .8rem;
}

.hide {
  bottom: -10rem;
}
