@import '../../styles/breakpoints';

.banner-container {
  margin-bottom: var(--spacing-4);
  height: 10rem;
  background-color: hsl(var(--clr-primary) / 0.25);
  z-index: -2;
}

.banner-image {
  z-index: -1;
  height: inherit;
  border-radius: 0.5rem;
}

.banner-text {
  position: absolute;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-5);
  top: 1rem;
  left: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.banner-subtitle {
  text-align: right;
}

@media (max-width: $breakpoint-md) {
  .banner-container {
    height: 8rem;
    margin-bottom: var(--spacing-2);
  }

  .banner-text {
    padding: var(--spacing-4);
    margin: var(--spacing-1);
    top: 12.5%;
    height: auto;
    padding-block: var(--spacing-2);
  }
}