@import '../../styles/breakpoints';

.banner-container {
  margin-bottom: var(--spacing-4);
  height: 9rem;
  background-color: hsl(var(--clr-primary) / 0.85);
  z-index: -2;
}

.banner-image {
  z-index: -1;
  height: inherit;
  border-radius: 0.5rem;
}

.banner-text {
  position: absolute;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-5);
  top: 1rem;
  left: 1rem;
  height: 7rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: hsl(var(--clr-light) / 0.97);
  color: hsl(var(--clr-dark));
  font-weight: var(--fw-bold);
}

.banner-subtitle {
  text-align: right;
  margin-top: -.25rem;
}

@media (max-width: $breakpoint-md) {
  .banner-container {
    height: 7rem;
    margin-bottom: var(--spacing-2);
  }

  .banner-text {
    padding: var(--spacing-5);
    margin: var(--spacing-1);
    top: 12.5%;
    height: auto;
    padding-block: var(--spacing-2);
  }
}