.accordion {
	width: 100%;
	position: relative;
	margin: 1rem 0rem;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: hsl( var(--clr-dark) );
}


.expandIcon {
	border: none;
	color: hsl( var(--clr-primary) );
	position: absolute;
	width: 2rem;
	left: 0;
	padding: 0;
	margin: 0;
	margin: 0;
	transition: transform 0.25s ease-in-out;
}

.expandIcon[aria-expanded="true"] {
	transform: rotate(90deg);
}

.expandIcon[aria-expanded="false"] {
	transform: rotate(0deg);
}

.panel {
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	background-color: hsl( var(--clr-light-shade) );
	border: solid .05rem hsl( var(--clr-primary) );
	> div { padding: var(--spacing-4); }
}