.accordion {
	width: 100%;
	position: relative;
	margin-block: 1rem;
}

.header {
	display: flex;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: var(--fs-700);
	font-weight: var(--fw-medium);
	font-family: var(--ff-serif);
}

.expandIcon {
	border: none;
	color: hsl( var(--clr-primary) );
	position: absolute;
	left: 0;
	padding-inline: .5rem;
	margin: 0;
	font-size: var(--fs-700);
	font-weight: var(--fw-bold);
	margin: 0;
	transition: rotate 0.5s ease-in-out;
}

.expandIcon[aria-expanded="true"] {
	rotate: 90deg;
}

.expandIcon[aria-expanded="false"] {
	rotate: 0deg;
}

.panel {
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	background-color: hsl( var(--clr-light-shade) );
	border: solid .05rem hsl( var(--clr-primary) );
	> div { padding: var(--spacing-4); }
}
